<div class="container">
<div class="row">
    <div class="col-sm-6 bouncit" id="centerme" style="color: white;">
        <h1> Fenway Media </h1>
        <p> Fenway Media is a digital marketing consulting agency and web development shop. We pride ourselves at dominating our 2 areas of the vast digital world. </p>
    </div>
    <div class="col-sm-6 bouncit">
    <%= image_tag "tabletWithPaper.jpg",  height: 300, alt: "profile image", class: 'nav-img' %>
    </div>
    <div class="col-sm-6">
    <%= image_tag "aboutUsImage.jpg",  height: 300, alt: "profile image", class: 'nav-img' %>
    </div>
    <div class="col-sm-6" id="centerit" style="color: white;">
        <h2>Wondering if we are right for you? </h2>
        <p>Here at Fenway Media, we believe that a good business is dependent on one factor, the people. The great business of every generation did not hire a third party for any part of the business it did not want to do, rather it created its own way of doing it better. By taking control of your business you control your destiny and make your business harder to replicate.  </p>
        <p> <br>We are here to make professional marketers and beautiful websites to increase the quality and conversion of your business. </p>
    </div>
</div>
</div>