<div class="container">
<div class="row">

<div class="card" style="width: 65rem;">
<img class="card-img-top" id="card1"><%= image_tag "businessman.jpg",  height: 400, alt: "profile image", class: 'nav-img' %>
<div class="card-body">
  <h5 class="card-title">Rely on YOU</h5>
  <p class="card-text">Stop waiting on other businesses to manage your online marketing. Put the power back in your hands.</p>
  <a href="/pages/about"><button class="btn btn-primary">Learn More</button></a>

</div>
</div>
</div>
</div>
