<div class="container">
<div class="row" style="color: white">
    <div class="col-sm-6 bouncit" id="services">
        <h2> Online Marketing Training </h2>
        <h3> Become a Master Marketer in 3 Months </h3>

        <p> Our comprehensive online marketing training is the product of over 8 years in the new and ever changing industry. Each training program is customized to your business and its need. We provide the tools and information for you to master FaceBook, Instagram, Snapchat, Twitter and GoogleAds for increased volume and revenue to your business. </p>
        <p> Stop relying on other people doing your marketing alongside your competitors. Rely on yourself to create a marketing master and build your business like the great businesses of every generation! </p>
    </div>
    <div class="col-sm-6 bouncit" id="theicons">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-snapchat-square"></i>
        <i class="fab fa-google"></i>
    </div>
    <div class="col-sm-6 movedown">
        <%= image_tag "shopping.jpg", height: 300, alt: "profile image", class: 'nav-img' %>
    </div>
    <div class="col-sm-6 movedown" id="description">
        <h2> Website Development </h2>
        <h3> Create a beautiful and eye catching website in less than a week </h3> 

        <p> Our team of engineers are experienced and practiced at building beautiful web applications. Although a website should look great, it also needs to be fully functional and create a great User Experience that keeps customers coming back time and time again. </p> 
    </div>
</div>
</div>