/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     background-image: url(bodyBackgroundImage.jpg);
     background-attachment: fixed;
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: 50% 50%;
     background: linear-gradient(gray, white));
 }

 .background {
     opacity: 0.5;
 }

 /* this class is found on the ABOUT page */
 .whatevs {
     background-color: blueviolet;
 }

 #card1 {
     justify-content: center;
 }

 .fas {
     font-size: 40px;
 }

 .btn {
     background-color: white;
 }

 #theicons {
    font-size: 60px;
    align-self: center;
 }

 .fab {
     margin: 10px;
 }

 .movedown {
     margin-top: 40px; 
 }

 #description {
     align-self: center;
 }

 #moveplease {
     margin-top: 30px; 
 }

 .newbackground {
    background-image: url(board.jpg)!important;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background: linear-gradient(gray, white));
 }

 #backit {
    margin-top: 10%;
 }

 .nav-img {
     border-radius: 10px;
     box-shadow: 2px 2px 2px black;
 }

 .success {
     color: rgb(6, 247, 6);
 }

 .bouncit {
     margin-top: 10px;
 }

 #centerme {
     align-self: center;
 }

 #centerit {
    align-self: center;
 }

 footer {
    margin-top: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
 }