<!DOCTYPE html>
<html>
  <head>
    <title>FenwayStuff</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-light bg-light">
  <ul class="nav col-sm-5">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pages/about">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pages/contact">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pages/portfolio">Portfolio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pages/schedule">Schedule</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pages/services">Services</a>
  </li>
</ul> 
</nav>

  <body>
    <%= yield %>
  </body>
</html>
